{% macro employees_table(employees) %}
<div class="row">
    <table id="employees-table" class="table table-bordered">
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Department') }}</th>
                <th>{{ _('Position') }}</th>
                <th>{{ _('Is head') }}</th>
                <th>{{ _('Email') }}</th>
                <th>{{ _('Phone') }}</th>
                <th>{{ _('Is fired') }}</th>
                <th>{{ _('Detail') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td><p>{{ employee.name }} {{ employee.surname }}</p></td>
                    {% if employee.positions %}
                        <td><p>{{ employee.positions[-1].department.name }}</p></td>
                        <td><p>{{ employee.positions[-1].typical_position.name }}</p></td>
                        <td><p>{% if employee.positions[-1].is_head %}{{ _('Head') }}{% endif %}</p></td>
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td><p>{{ employee.email }}</p></td>
                    <td><p>{{ employee.phone }}</p></td>
                    {% if employee.positions %}
                        <td><p>{% if employee.positions[-1].leave_date %}{{ _('Fired') }}{% endif %}</p></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td><a href="{{ url_for('employees.detail', pk=employee.id) }}">{{ _('Detail') }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}
