{% extends 'base.html' %}

{% from 'positions/_positions_table.html' import positions_table %}

{% block title %}
    {{ object.name }} {{ object.surname }}
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/plugins/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/positions/positions_table.js') }}"></script>
    <script type="text/javascript">
        var url = '{{ url_for('employees.fire', pk=object.id) }}';
        $('#fire-button').click(function() {
            $.post(url, function () {
                location.reload();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('employees.list') }}">{{ _('Employees') }}</a></li>
            <li class="active">{{ object.name }} {{ object.surname }}</li>
        </ol>
    </div>
    <div class="row">
        <h1 class="text">{{ object.name }} {{ object.surname }}</h1>
        <p class="text">{{ _('Birth date') }}: {{ object.birth_date }}</p>
        <p class="text">{{ _('Email') }}: {{ object.email }}</p>
        <p class="text">{{ _('Phone') }}: {{ object.phone }}</p>
        <button class="btn btn-danger" id="fire-button">{{ _('Fire employee') }}</button>
        <a class="btn btn-default" href="{{ url_for('employees.edit', pk=object.id) }}">{{ _('Edit') }}</a>
{#        <a class="btn btn-danger" href="{{ url_for('employees.delete') }}">{{ _('Delete') }}</a>#}
    </div>
    <hr>
    {% if object.positions %}
        <div class="row">
            <h2 class="text">
                {{ _('Positions placed') }}:
            </h2>
        </div>
        {{ positions_table(object.positions | reverse) }}
    {% else %}
        <div class="row">
            <h2 class="text">{{ _('No positions yet') }}</h2>
        </div>
    {% endif %}
{% endblock %}