{% extends 'base.html' %}

{% from 'employees/_employees_table.html' import employees_table %}

{% block title %}
    {{ _('Employees list') }}
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/plugins/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/employees/employees_table.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="text">{{ _('All employees') }}</h1>
    </div>
    {% if objects %}
        {{ employees_table(objects) }}
    {% else %}
        <div class="row">
            <h3 class="text">{{ _('No employees yet.') }}</h3>
        </div>
    {% endif %}
    <div class="row">
        <a class="btn btn-success" href="{{ url_for('employees.create') }}">{{ _('Create Employee') }}</a>
    </div>
{% endblock %}
