{% macro positions_table(positions) %}
<div class="row">
    <table id="positions-table" class="table table-bordered">
        <thead>
            <tr>
                <th>{{ _('Typical position') }}</th>
                <th>{{ _('Department') }}</th>
                <th>{{ _('Employee') }}</th>
                <th>{{ _('Is head') }}</th>
                <th>{{ _('Entry date') }}</th>
                <th>{{ _('Leave date') }}</th>
                <th>{{ _('Detail') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
                <tr>
                    <td><p>{{ position.typical_position.name }}</p></td>
                    <td><p>{{ position.department.name }}</p></td>
                    <td><p>{{ position.employee.name }} {{ position.employee.surname }}</p></td>
                    <td><p>{% if position.is_head %}{{ _('Head') }}{% endif %}</p></td>
                    <td><p>{{ position.entry_date }}</p></td>
                    <td><p>{{ position.leave_date }}</p></td>
                    <td><a href="{{ url_for('positions.detail', pk=position.id) }}">{{ _('Detail') }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}