{% extends 'base.html' %}

{% block title %}
    {{ object.typical_position.name }} - {{ object.employee.name }} {{ object.employee.surname }}, {{ object.department.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('positions.list') }}">{{ _('Positions') }}</a></li>
            <li class="active">{{ object.typical_position.name }} - {{ object.employee.name }} {{ object.employee.surname }}, {{ object.department.name }}</li>
        </ol>
    </div>
    <div class="row">
        <h1 class="text">{{ object.typical_position.name }}, {{ object.department.name }}</h1>
        <p class="text"><a href="{{ url_for('employees.detail', pk=object.employee.id) }}">{{ object.employee.name }} {{ object.employee.surname }}</a></p>
        <p class="text">{{ _('Is head') }}: {{ object.is_head }}</p>
        {% if object.entry_date %}
            <p class="text">{{ _('Entry date') }}: {{ object.entry_date.strftime('%Y-%m-%d') }}</p>
        {% endif %}
        {% if object.leave_date %}
            <p class="text">{{ _('Leave date') }}: {{ object.leave_date.strftime('%Y-%m-%d') }}</p>
        {% endif %}
        <a class="btn btn-default" href="{{ url_for('positions.edit', pk=object.id) }}">{{ _('Edit') }}</a>
{#        <a class="btn btn-danger" href="{{ url_for('positions.delete') }}">{{ _('Delete') }}</a>#}
    </div>
{% endblock %}