{% extends 'base.html' %}

{% from 'positions/_positions_table.html' import positions_table %}

{% block title %}
    {{ _('Positions list') }}
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/plugins/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/positions/positions_table.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="text">{{ _('Positions list') }}</h2>
    </div>
    {% if objects %}
        {{ positions_table(objects | reverse) }}
    {% else %}
        <div class="row">
            <h3 class="text">{{ _('No positions yet.') }}</h3>
        </div>
    {% endif %}
    <div class="row">
        <a class="btn btn-success" href="{{ url_for('positions.create') }}">{{ _('Create position') }}</a>
    </div>
{% endblock %}
