{% macro departments_table(departments) %}
<div class="row">
    <table id="departments-table" class="table table-bordered">
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Vacancies count') }}</th>
                <th>{{ _('Positions count') }}</th>
                <th>{{ _('Detail') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
                <tr>
                    <td><p>{{ department.name }}</p></td>
                    <td><p>{{ department.description }}</p></td>
                    <td><p>{{ department.vacancies | length }}</p></td>
                    <td><p>{{ department.positions | length }}</p></td>
                    <td><a href="{{ url_for('departments.detail', pk=department.id) }}">{{ _('Detail') }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}
