{% extends 'base.html' %}

{% from 'positions/_positions_table.html' import positions_table %}
{% from 'vacancies/_vacancies_table.html' import vacancies_table %}

{% block title %}
    {{ object.name }}
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/plugins/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/positions/positions_table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vacancies/vacancies_table.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('departments.list') }}">{{ _('Departments') }}</a></li>
            <li class="active">{{ object.name }}</li>
        </ol>
    </div>
    <div class="row">
        <h1 class="text">{{ object.name }}</h1>
        <p class="text">{{ object.description }}</p>
        <a class="btn btn-default" href="{{ url_for('departments.edit', pk=object.id) }}">{{ _('Edit') }}</a>
{#        <a class="btn btn-danger" href="{{ url_for('departments.delete') }}">{{ _('Delete') }}</a>#}
    </div>
    {% if object.positions %}
        <div class="row">
            <h2 class="text">{{ _('Positions') }}:</h2>
        </div>
        {{ positions_table(object.positions) }}
    {% else %}
        <div class="row">
            <h2 class="text">{{ _('No positions yet.') }}</h2>
        </div>
    {% endif %}
    <hr>
    {% if object.vacancies %}
        <div class="row">
            <h2 class="text">{{ _('Vacancies') }}:</h2>
        </div>
        {{ vacancies_table(object.vacancies) }}
    {% else %}
        <div class="row">
            <h2 class="text">{{ _('No vacancies yet.') }}</h2>
        </div>
    {% endif %}
{% endblock %}