{% extends 'base.html' %}

{% from 'departments/_departments_table.html' import departments_table %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/plugins/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/departments/departments_table.js') }}"></script>
{% endblock %}

{% block title %}
    {{ _('Departments list') }}
{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="text">{{ _('Departments list') }}</h2>
    </div>
    {% if objects %}
        {{ departments_table(objects) }}
    {% else %}
        <div class="row">
            <h3 class="text">{{ _('No departments yet.') }}</h3>
        </div>
    {% endif %}
    <div class="row">
        <a class="btn btn-success" href="{{ url_for('departments.create') }}">{{ _('Create department') }}</a>
    </div>
{% endblock %}
