{% macro vacancies_table(vacancies) %}
<div class="row">
    <table id="vacancies-table" class="table table-bordered">
        <thead>
            <tr>
                <th>{{ _('Department') }}</th>
                <th>{{ _('Typical position') }}</th>
                <th>{{ _('Date opened') }}</th>
                <th>{{ _('Date closed') }}</th>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Position') }}</th>
                <th>{{ _('Employee') }}</th>
                <th>{{ _('Detail') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for vacancy in vacancies %}
                <tr>
                    <td><p>{{ vacancy.department.name }}</p></td>
                    <td><p>{{ vacancy.typical_position.name }}</p></td>
                    <td><p>{{ vacancy.date_opened }}</p></td>
                    <td><p>{{ vacancy.date_closed }}</p></td>
                    <td><p>{% if vacancy.is_closed %}{{ _('Closed') }}{% else %}{{ _('Opened') }}{% endif %}</p></td>
                    {% if vacancy.position %}
                        <td><p>{{ vacancy.position.typical_position.name }}</p></td>
                        <td><p>{{ vacancy.position.employee.name }} {{ vacancy.position.employee.surname }}</p></td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td><a href="{{ url_for('vacancies.detail', pk=vacancy.id) }}">{{ _('Detail') }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}