{% extends 'base.html' %}

{% block title %}
    {{ object.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('vacancies.list') }}">{{ _('Vacancies') }}</a></li>
            <li class="active">{{ object.typical_position.name }}</li>
        </ol>
    </div>
    <div class="row">
        <h1 class="text">{{ object.typical_position.name }}</h1>
        <p class="text">{{ object.typical_position.description }}</p>
        <p class="text">
            {{ _('In') }} <a href="{{ url_for('departments.detail', pk=object.department_id) }}">
            {{ object.department.name }}</a></p>
        <a class="btn btn-default" href="{{ url_for('vacancies.edit', pk=object.id) }}">{{ _('Edit') }}</a>
{#        <a class="btn btn-danger" href="{{ url_for('vacancies.delete') }}">{{ _('Delete') }}</a>#}
    </div>
{% endblock %}