{% extends 'base.html' %}

{% from 'vacancies/_vacancies_table.html' import vacancies_table %}

{% block title %}
    {{ _('Vacancies list') }}
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/plugins/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vacancies/vacancies_table.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row"><h1 class="text">{{ _('Vacancies list') }}</h1></div>
    {% if objects %}
        {{ vacancies_table(objects) }}
    {% else %}
        <div class="row">
            <h3 class="text">{{ _('No vacancies yet.') }}</h3>
        </div>
    {% endif %}
    <div class="row">
        <a class="btn btn-success" href="{{ url_for('vacancies.create') }}">{{ _('Create vacancy') }}</a>
    </div>
{% endblock %}
