{% macro typical_positions_table(positions) %}
<div class="row">
    <table id="typical-positions-table" class="table table-bordered">
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Vacancies count') }}</th>
                <th>{{ _('Positions count') }}</th>
                <th>{{ _('Detail') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
                <tr>
                    <td><p>{{ position.name }}</p></td>
                    <td><p>{{ position.description }}</p></td>
                    <td><p>{{ position.vacancies | length }}</p></td>
                    <td><p>{{ position.positions | length }}</p></td>
                    <td><a href="{{ url_for('typical_positions.detail', pk=position.id) }}">{{ _('Detail') }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}
