{% extends 'base.html' %}

{% from '_render_field.html' import render_field %}

{% block title %}
    {{ _('Create typical position') }}
{% endblock %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('typical_positions.list') }}">{{ _('Typical positions') }}</a></li>
            <li class="active">{{ _('Create') }}</li>
        </ol>
    </div>

        <div class="col-xs-4 col-xs-offset-4">
            <form action="{{ url_for('typical_positions.create') }}" method="POST">
                {{ form.hidden_tag() }}
                <h2 class="text">{{ _('Create typical position') }}</h2>
                <dl>
                    {% for field in form if field.widget.input_type != 'hidden' %}
                        {{ render_field(field) }}
                    {% endfor %}
                </dl>
                <button class="btn btn-small btn-success btn-block" type="submit">{{ _('Create') }}</button>
            </form>
        </div>
{% endblock %}