{% extends 'base.html' %}

{% from '_render_field.html' import render_field %}

{% block title %}
    {{ _('Edit typical position') }}
{% endblock %}

{% block content %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('typical_positions.list') }}">{{ _('Typical positions') }}</a></li>
            <li><a href="{{ url_for('typical_positions.detail', pk=object.id) }}">{{ object.name }}</a></li>
            <li class="active">{{ _('Edit') }}</li>
        </ol>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
        <form action="{{ url_for('typical_positions.edit', pk=object.id) }}" method="POST">
            {{ form.hidden_tag() }}
            <h2 class="text">{{ _('Edit typical position') }}</h2>
            <dl>
                {% for field in form if field.widget.input_type != 'hidden' %}
                    {{ render_field(field) }}
                {% endfor %}
            </dl>
            <button class="btn btn-small btn-primary btn-block" type="submit">{{ _('Edit') }}</button>
        </form>
    </div>
{% endblock %}