{% extends 'base.html' %}

{% from 'typical_positions/_typical_positions_table.html' import typical_positions_table %}

{% block title %}
    {{ _('Typical positions list') }}
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/plugins/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typical_positions/typical_positions_table.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="text">{{ _('Typical positions list') }}</h1>
    </div>
    {% if objects %}
        {{ typical_positions_table(objects) }}
    {% else %}
        <div class="row">
            <h3 class="text">{{ _('No typical positions yet.') }}</h3>
        </div>
    {% endif %}
    <div class="row">
        <a class="btn btn-success" href="{{ url_for('typical_positions.create') }}">{{ _('Create typical position') }}</a>
    </div>
{% endblock %}
