{% extends 'base.html' %}

{% block title %}
    {{ _('Not found') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h1 class="text">404 {{ _('Not found.') }}</h1>
        </div>
    </div>
{% endblock %}
