{% extends 'base.html' %}

{% block title %}
    {{ _('Internal server error') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h1 class="text">500 {{ _('Internal server error.') }}</h1>
        </div>
    </div>
{% endblock %}
