{% macro render_field(field) %}
  {{ field.label }}
  <dt>{{ field(class_="form-control")|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
