<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
         	        <a class="navbar-brand" href="{{ url_for('index') }}" ></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
        	        <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">{{ _('Instructions') }}</a></li>
            	        <li><a href="{{ url_for('departments.list') }}" >{{ _('Departments') }}</a></li>
          	            <li><a href="{{ url_for('typical_positions.list') }}" >{{ _('Typical Positions') }}</a></li>
                        <li><a href="{{ url_for('vacancies.list') }}" >{{ _('Vacancies') }}</a></li>
                        <li><a href="{{ url_for('employees.list') }}" >{{ _('Employees') }}</a></li>
                        <li><a href="{{ url_for('positions.list') }}" >{{ _('Positions') }}</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
  	        {% if messages %}
                <div class="row">
    		        {% for message in messages %}
      			        <div class="alert alert-info" role="alert"> {{ message }}</div>
    		        {% endfor %}
                </div>
  	        {% endif %}
	    {% endwith %}
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
