{% extends 'base.html' %}

{% block title %}
    {{ _('Instructions') }}
{% endblock %}

{% block content %}
    <h1 class="text">{{ _('Instructions') }}:</h1>
    <ol>
        <li>{{ _('Create a department') }}</li>
        <li>{{ _('Create a typical position') }}</li>
        <li>{{ _('Create a vacancy for some typical position in some department') }}</li>
        <li>{{ _('Create an employee') }}</li>
        <li>{{ _('Create a position for an employee and vacancy.') }}</li>
    </ol>
{% endblock %}